<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>斗鱼直播工具</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/tool.css" />
</head>
<body>
  <div class="app">
    <div class="app__header">
      <div class="header__title">Clantu</div>
      <div class="header__info">每晚21:00准时开播，周末连播到爆炸</div>
      <div class="header__highlight">点关注，不迷路</div>
    </div>
    <!--
    <div class="__tool">
      <ul class="__tool__code">
        <li>弹幕工具（自制，源代码参见Github）</li>
        <li>使用格式如下方区域所示</li>
      </ul>
    </div>
     -->
    <div class="__contact">
      <dl><dt>Github</dt><dd>Clunt</dd></dl>
      <dl><dt>Q群</dt><dd>334022534</dd></dl>
    </div>
    <div class="app__music __tool">
      <div class="__tool__title">点歌</div>
      <ul class="__tool__code">
        <!--
        <li>#点歌 歌名#</li>
        <li>#点歌 歌手#</li>
         -->
        <li>#点歌 歌名/歌手#</li>
        <li>#切歌#</li>
      </ul>
      <div class="__tool__main">
        <ul class="music__playlist">
        </ul>
      </div>
    </div>
    <div class="app__flag __tool">
      <div class="__tool__title">Flag（房管）</div>
      <ul class="__tool__code">
        <li>#Flag 想看的内容#</li>
      </ul>
      <div class="__tool__main">
        <table class="flag__list">
        </table>
      </div>
    </div>
    <ul class="app__welcome"></ul>
  </div>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/socket.io.js"></script>
  <script src="/javascripts/lib/util.js"></script>
  <script src="/javascripts/tool/music.js"></script>
  <script src="/javascripts/tool/flag.js"></script>
  <script src="/javascripts/tool/index.js"></script>
</body>
</html>