<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>斗鱼直播工具</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="app">
    <h1>Clantu</h1>
    <h2>欢迎大家来到直播间</h2>
    <h3>喜欢的话点波关注，谢谢大家</h3>
    <h4>每晚20:30准时开播，周末连播到爆炸</h4>
    <div class="app__music __tool">
      <div class="__tool__title">弹幕点歌</div>
      <ul class="__tool__code">
        <li>弹幕格式如下：</li>
        <li>#点歌 歌曲名/歌手#</li>
        <li>#切歌#</li>
      </ul>
      <div class="__tool__main">
        <div class="music__title">点歌列表</div>
        <ul class="music__playlist">
        </ul>
      </div>
    </div>
    <div class="__contact">
      <p>QQ群: 334022534</p>
      <p>WX: 15022651939</p>
    </div>
  </div>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/util.js"></script>
  <script src="/javascripts/music.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>