<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>弹幕消息</title>
  <link rel="stylesheet" href="/library/stylesheets/normalize.css" />
</head>
<body>
  <div id="app"></div>
  <script src="/library/javascripts/jquery.js"></script>
  <script src="/modules/message/index.js"></script>
</body>
</html>
