<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
  <style>
    .main{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #fff;
      background: gold;
      height: 64px;
      padding: 14px 0;
      overflow: hidden;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
      line-height: 36px;
      box-sizing: border-box;
    }
    .main b{
      text-shadow: 0 0 3px red;
    }
    .naming{}
    .mistress{}
  </style>
  <div class="main">
    <div class="naming">
      感谢
      <b>KernelSun</b>、
      <b>喵哥</b>、
      <b>推土喵</b>
      联合冠名播出
    </div>
  </div>
</body>
</html>
