.tool.tool--user .tool__danmu{position: absolute;bottom: 0;right: 0;width: 1560px;height: 105px;overflow: hidden;background: #212121;color: #ccc;}
  .tool.tool--user .tool__danmu .danmu__welcomes{position: absolute;top: 0;left: 0;width: 100%;z-index: 999;}
  .tool.tool--user .tool__danmu .danmu__welcomes .welcomes__item{position: absolute;left: 100%;top: 0;transform: translateX(-100%);white-space: nowrap;transform: translateX(-100%);}
  .tool.tool--user .tool__danmu .danmu__welcomes .welcomes__item{animation: welcomeAnimate 8866ms linear;animation-fill-mode: forwards;}
  .tool.tool--user .tool__danmu .danmu__welcomes .welcomes__item{background: #D84C31;padding: 2px 6px 3px;line-height: 16px;border-radius: 3px;}
  .tool.tool--user .tool__danmu .danmu__messages{position: absolute;left: 0;bottom: 5px;width: 68%;height: 96px;overflow: hidden;}
  .tool.tool--user .tool__danmu .danmu__messages .messages__inner{position: absolute;left: 0;bottom: 0;width: 100%;padding: 0 12px;}
    .tool.tool--user .tool__danmu .danmu__messages .messages__item{font-size: 16px;line-height: 24px;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--welcome .item__nickname{margin: 0 3px;color: #F28D00;animation: welcomeNickname 2000ms ease 500ms;animation-fill-mode: forwards;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--chat .item__nickname{margin-right: 6px;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--chat .item__permission{margin-right: 3px;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--chat .item__nameplate{margin-right: 3px;color: #666;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--chat .item__nameplate--family{color: gold;}
      .tool.tool--user .tool__danmu .danmu__messages .messages__item--chat img{height: 24px;margin: 0 3px;vertical-align: bottom;}
  .tool.tool--user .tool__danmu .danmu__gifts{position: absolute;right: 0;bottom: 35px;width: 32%;height: 64px;overflow: hidden;}
    .tool.tool--user .tool__danmu .danmu__gifts .gifts__inner{position: absolute;right: 0;bottom: 0;width: 100%;padding-right: 12px;font-size: 12px;line-height: 16px;}
    .tool.tool--user .tool__danmu .danmu__gifts .gifts__item{}
      .tool.tool--user .tool__danmu .danmu__gifts .gifts__item .item__nickname{margin: 0 3px;color: gold;animation: danmuNickname 3000ms ease 500ms;animation-fill-mode: forwards;}
  .tool.tool--user .tool__danmu .danmu__logs{position: absolute;right: 0;bottom: 8px;width: 32%;height: 16px;overflow: hidden;padding-right: 64px;font-size: 12px;line-height: 16px;color: #666;}
  .tool.tool--user .tool__danmu .danmu__state{position: absolute;position: absolute;bottom: 9px;right: 12px;padding: 0 6px;font-size: 12px;line-height: 20px;color: #fff;border-radius: 10px;}
    .tool.tool--user .tool__danmu .danmu__state.danmu__state--0{background: #FE4C40;}
    .tool.tool--user .tool__danmu .danmu__state.danmu__state--1{background: #4285F4;}
    .tool.tool--user .tool__danmu .danmu__state.danmu__state--2{background: #32CD32;}


@keyframes danmuNickname { from {color: gold;} to {color: #fff;} }
@keyframes welcomeNickname { from {color: #F28D00;} to {color: #fff;} }
@keyframes welcomeAnimate { from {left: 100%;} to {left: -100px;} }
