.tool.tool--user{position: fixed;position: relative;width: 1920px;height: 1080px;background: #fff;overflow: hidden;}
  .tool.tool--user .tool__main{position: absolute;top: 0;left: 320px;right: 0;height: 975px;background: #343434;}
